<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.Jecg12.mapper.Jecg12Mapper">
    
    <resultMap type="Jecg12" id="Jecg12Result">
        <result property="pId"    column="p_id"    />
        <result property="ecgData"    column="ecg_data"    />
        <result property="waveLabel"    column="wave_label"    />
        <result property="beatLabel"    column="beat_label"    />
        <result property="rectangles"    column="rectangles"    />
        <result property="noiseLevel"    column="noise_level"    />
        <result property="options1"    column="options1"    />
        <result property="options2"    column="options2"    />
        <result property="isSuspected"    column="isSuspected"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectJecg12Vo">
        select p_id, ecg_data, wave_label, beat_label, rectangles, noise_level, options1, options2, isSuspected, update_time, update_by from jecg_12
    </sql>

    <select id="selectJecg12List" parameterType="Jecg12" resultMap="Jecg12Result">
        <include refid="selectJecg12Vo"/>
        <where>  
            <if test="pId != null  and pId != ''"> and p_id = #{pId}</if>
            <if test="ecgData != null  and ecgData != ''"> and ecg_data = #{ecgData}</if>
            <if test="waveLabel != null  and waveLabel != ''"> and wave_label = #{waveLabel}</if>
            <if test="beatLabel != null  and beatLabel != ''"> and beat_label = #{beatLabel}</if>
            <if test="rectangles != null  and rectangles != ''"> and rectangles = #{rectangles}</if>
            <if test="noiseLevel != null  and noiseLevel != ''"> and noise_level = #{noiseLevel}</if>
            <if test="options1 != null  and options1 != ''"> and options1 = #{options1}</if>
            <if test="options2 != null  and options2 != ''"> and options2 = #{options2}</if>
            <if test="isSuspected != null "> and isSuspected = #{isSuspected}</if>
        </where>
    </select>
    
    <select id="selectJecg12ByPId" parameterType="String" resultMap="Jecg12Result">
        <include refid="selectJecg12Vo"/>
        where p_id = #{pId}
    </select>

    <insert id="insertJecg12" parameterType="Jecg12">
        insert into jecg_12
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pId != null">p_id,</if>
            <if test="ecgData != null">ecg_data,</if>
            <if test="waveLabel != null">wave_label,</if>
            <if test="beatLabel != null">beat_label,</if>
            <if test="rectangles != null">rectangles,</if>
            <if test="noiseLevel != null">noise_level,</if>
            <if test="options1 != null">options1,</if>
            <if test="options2 != null">options2,</if>
            <if test="isSuspected != null">isSuspected,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pId != null">#{pId},</if>
            <if test="ecgData != null">#{ecgData},</if>
            <if test="waveLabel != null">#{waveLabel},</if>
            <if test="beatLabel != null">#{beatLabel},</if>
            <if test="rectangles != null">#{rectangles},</if>
            <if test="noiseLevel != null">#{noiseLevel},</if>
            <if test="options1 != null">#{options1},</if>
            <if test="options2 != null">#{options2},</if>
            <if test="isSuspected != null">#{isSuspected},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateJecg12" parameterType="Jecg12">
        update jecg_12
        <trim prefix="SET" suffixOverrides=",">
            <if test="ecgData != null">ecg_data = #{ecgData},</if>
            <if test="waveLabel != null">wave_label = #{waveLabel},</if>
            <if test="beatLabel != null">beat_label = #{beatLabel},</if>
            <if test="rectangles != null">rectangles = #{rectangles},</if>
            <if test="noiseLevel != null">noise_level = #{noiseLevel},</if>
            <if test="options1 != null">options1 = #{options1},</if>
            <if test="options2 != null">options2 = #{options2},</if>
            <if test="isSuspected != null">isSuspected = #{isSuspected},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where p_id = #{pId}
    </update>

    <delete id="deleteJecg12ByPId" parameterType="String">
        delete from jecg_12 where p_id = #{pId}
    </delete>

    <delete id="deleteJecg12ByPIds" parameterType="String">
        delete from jecg_12 where p_id in 
        <foreach item="pId" collection="array" open="(" separator="," close=")">
            #{pId}
        </foreach>
    </delete>
</mapper>